.clearfix:after{
	content: '';clear: both;display: block;
}

.oneBox{
	padding: 20px;
	
	button{
		width: 120px;height: 30px;background: #ccf;border-style: none;
	}
}

.ulBox{
	width: 100%;
	li{
		width: 100px;text-align: center;line-height: 100px;border: 1px solid #ccc;float: left;
		margin: 20px;cursor: pointer;font-size: 30px;
	}
}
.dif{
	background-color: #ccf;
}